

<div class="layui-form" lay-filter="layuiadmin-form-admin2" style="padding: 20px 30px 0 0;">

      <script type="text/html" template lay-done="layui.data.done(d);">
        <input type="hidden" name="id" id="id" value="{{ d.params.id || '' }}" >
      </script>

  <div class="layui-form-item">
    <label class="layui-form-label"><font color='red'>*</font>所属主分类</label>
    <div class="layui-input-block">
      <div id="baseid"></div>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label"><font color='red'>*</font>所属分类</label>
    <div class="layui-input-block">
      <div id="firstcateid"></div>
    </div>
  </div>


  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-block">
      <input type="submit" lay-submit lay-filter="LAY-user-back-submit" value="确认" class="layui-btn">
    </div>
  </div>
</div>

<script>
layui.data.done = function (d) {

  layui.use(['admin', 'form','table','xmSelect','upload'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,table = layui.table
    ,xmSelect = layui.xmSelect
    ,upload = layui.upload
    ,form = layui.form;

    var baseid = xmSelect.render({
      el: '#baseid', 
      layVerify: 'required',
      name: "baseid",
      prop: {
        value: 'id',
      },
      radio: true,
      clickClose: true,
      data: [],
      on: function(data){
        var arr = data.arr;
        firstcateid.update({
          data: [],
        })        
        if (arr.length > 0)
        {
          admin.req({
            url : layui.setter.ApiUrl.HostAddress + layui.setter.ApiUrl.getDictList   
            ,type:"POST"
            ,data:{"type":"firstcate",id:arr[0].id}
            ,done: function(res){
              if (res.errorcode === 0)
              {
                firstcateid.update({
                  data: res.data,
                })
              }
            }
          }); 
        }
      }

    })
    admin.req({
      url : layui.setter.ApiUrl.HostAddress + layui.setter.ApiUrl.getDictList   
      ,type:"POST"
      ,data:{"type":"maintype"}
      ,done: function(res){
        if (res.errorcode === 0)
        {
          baseid.update({
            data: res.data,
          })
        }
      }
    }); 


    var firstcateid = xmSelect.render({
      el: '#firstcateid', 
      layVerify: 'required',
      name: "firstcateid",
      prop: {
        value: 'id',
      },
      filterable: true,
      filterMethod: function(val, item, index, prop){
        if(item.name.toLowerCase().indexOf(val.toLowerCase()) !=-1){
          return true;
        }
        return false;
      },
      radio: true,
      clickClose: true,
      data: [],
    })



    form.render();

      //监听提交
      form.on('submit(LAY-user-back-submit)', function(data){

      layer.confirm('确定要将该分类下的所有目的地改变到新分类，并且删除该分类吗？', function(index){
          layer.close(index); //再执行关闭 

          let postData = data.field;

          //console.log(postData);
          let methstr = "PUT";
          postData.event = "bind";

          admin.req({
            url : layui.setter.ApiUrl.HostAddress + layui.setter.ApiUrl.DestinationFirst   
            ,type: methstr
            ,data: postData
            ,done: function(res){
              layer.msg(res.errormsg, {icon: 1});
              table.reload('LAY-tag-tag-list-table'); //重载表格
              layer.close(d.params.layerindex); //再执行关闭 
            }
          });
        });
      });



  });
}
</script>