<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhixing.autosize">

    <application>
        <provider
            android:name="com.zhixing.autosize.InitProvider"
            android:authorities="${applicationId}.autosize-init-provider"
            android:exported="false"
            android:multiprocess="true"/>
    </application>
</manifest>